a {
    display: block;
}

.stores {
    margin-top: 30px;
    .stores-list {
        margin-bottom: 30px;
    }
}
.header-story {
    margin: 40px auto;
    text-align: center;
    text-transform: uppercase;
}