.featured {
  height: 100vh;

  &__vertical {
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111, transparent 90%);
  }

  &__horizontal {
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111 30%, transparent 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-bottom: 150px;
    padding-top: 70px;

    &__name {
      font-size: 60px;
      font-weight: bold;
    }

    &__info {
      font-size: 18px;
      font-weight: bold;
      margin-top: 15px;
    }

    &__points {
      display: inline-block;
      color: #46d369;
      margin-right: 15px;
    }

    &__year {
      display: inline-block;
      margin-right: 15px;
    }

    &__seasons {
      display: inline-block;
    }

    &__description {
      margin-top: 15px;
      font-size: 20px;
      color: #999;
      max-height: 30%;
      max-width: 40%;
      overflow: hidden;
    }

    &__buttons {
      margin-top: 15px;

      & a {
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        padding: 11px 25px;
        text-decoration: none;
        margin-right: 10px;
        border-radius: 5px;
        opacity: 1;
        transition: all ease 0.2s;

        &:hover {
          opacity: 0.7;
        }
      }

      &__watchbutton {
        background-color: #fff;
        color: #000;
      }

      &__mylistbutton {
        background-color: #333;
        color: white;
      }
    }
    &__genres {
      margin-top: 15px;
      font-size: 18px;
      color: #999;
    }
  }
}

@media (max-width: 760px) {
  .featured {
    &__horizontal {
      &__description {
        max-width: 90%;
      }
    }
  }
}
